a {
    color: green; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 200%}
body{
    background-color: rgb(48, 47, 47); line-height: 175%;}
h1{
    color: aliceblue; font-size: 600%;}
